@import "bootstrap.css";

body {
    background: url("../images/bg-pattern-top.svg") top left/cover no-repeat;
    background-color: green;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-weight: 900;
}

span {
    font-weight: 400;
}

h3 {
    text-align: center;
}

div {
    border-radius: 4%;
    width: 50%;
    margin: 0 auto;
    box-shadow: 4px 2px 64px blue;
    background-color: khaki;
    flex-direction: column;
}

.man {
    margin-top: -16%;
    border-radius: 50%;
    border: 3px solid palevioletred;
    top: 10%;
    z-index: 5;
}

table {
    width: 100%;
}

.div1 {
    border-radius: 4%;
    /* position: relative; */
    width: 100%;
    z-index: 2;
}