/* body {
    background-color: #4a4a4a;
    z-index: -1;
} */

p + img {
    display: block;
    width: 49%;
    margin: 0 auto;
}

input {
    display: block;
    margin: 0 auto;
}

div {
    display: none;
    position: absolute;
    top: 4%;
}

div > img {
    display: block;
    width: 64%;
    box-shadow: 0 -9px 16px wheat;
    margin: 0 auto;
}

div > button {
    display: block;
    margin: 0 auto;
    box-shadow: 0 9px 16px wheat;
    width: 64%;
}

img, button {
    border: 2px solid black;
}

button:hover {
    background-color: gray;
    color: blue;
}