h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

input {
    display: block;
    width: 50%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

input:hover {
    color: darkblue;
}

h1:hover{
    color: lawngreen;
}

h2:hover {
    color: cyan;
}

h2:hover {
    color: indigo;
}

a {
    text-decoration: solid;
}