@import "bootstrap.css";

img {
    display: inline-block;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

input {
    display: inline-block;
    vertical-align: middle;
}

.tryAgain {
    display: block;
    width: 64%;
    margin: 0 auto;
}

.def {
    display: block;
    width: 64%;
    margin: 0 auto;
}