@import "normalize.css";

.all {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: skyblue;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, darkblue, blue, steelblue, red, orange, skyblue, darkgreen, green, yellow, lime, limegreen, lightgreen, white);
}

.numberText {
    font-family: 'Harlow Solid';
    font-size: 2em;
    font-weight: 500;
    display: block;
    width: 36%;
    margin: 0 auto;
    outline: none;
}

.numberBtn {
    font-family: 'Harlow Solid';
    font-size: 2em;
    font-weight: 500;
    display: block;
    width: 36%;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
}

a {
    display: block;
    text-align: center;
    text-decoration: solid;
    font-weight: 500;
    font-size: 2em;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    /* font-family: cursive; */
    font-family: sans-serif;
    
}